/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo do corpo */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    padding: 22px;
    font-size: 20px;
    
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ff0015;
    text-decoration:underline;
    text-underline-offset: 9px;
  }
  
  /* Seção principal */
  .section {
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.8rem;
  }
  
  /* Estilo do formulário */
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s;
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="tel"]:focus,
  form input[type="password"]:focus {
    border-color: #ffd700;
    outline: none;
  }
  
  /* Botão de envio */
  form button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button[type="submit"]:hover {
    background-color: #88ff00;
  }
  
